<!--LISTA DE ORGANIZACIONES-->
<div class="tituloOrganizacion animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 col-md-3 "></div>
            <div class="col-6 col-md-6 text-center">
                <h2 class="tituloOrga">Mi Organización</h2>
            </div>
            <div class="col-3 col-md-3 text-center"><button class="btn btn-success" (click)="openModal()"> <i class="fas fa-plus"></i> Agregar Organización</button></div>

        </div>

    </div>
</div>

<!--MOSTRAR N° DE FILAS Y BUSCAR-->
<div class="headerTabla animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 col-md-3  col-md-3 col-lg mostrar">
                <h5>Mostrar # filas</h5>
            </div>
            <div class="col-6 col-md-6 col-md-6 col-lg">

            </div>
            <div class="inputHeaderTabla">
                <div class="col-3 col-md-3 col-md-3 col-lg">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- TABLA -->
<div class="tablaOrganizacion animated fadeIn">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col-12 ">ID</th>
                <th scope="col-12 ">Empresa</th>
                <th scope="col-12 ">Categoria</th>
                <th scope="col-12 ">Ubicacion</th>
                <th scope="col-12 ">Gerente</th>
                <th scope="col-12 ">Telefono</th>
                <th scope="col-12 ">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10005017</td>
                <td>Hotel Marriot</td>
                <td>Hoteles</td>
                <td>Lima</td>
                <td>Isrrael Arellano</td>
                <td>934465839</td>
                <td>Acciones</td>
            </tr>
            <tr>
                <td>10005018</td>
                <td>Hotel Palace</td>
                <td>Hoteles</td>
                <td>San Isidro</td>
                <td>Andrea G.P</td>
                <td>936859473</td>
                <td>Acciones</td>
            </tr>
            <tr>
                <td>10005019</td>
                <td>Hotel Sheraton</td>
                <td>Hoteles</td>
                <td>Lima</td>
                <td>Eliana Paris</td>
                <td>963524184</td>
                <td>Acciones</td>
            </tr>
        </tbody>
    </table>
</div>

<!--PAGINACIÓN-->
<div class="tituloPaginacion">
    <nav aria-label="page">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
