<!-- CREAR CUENTA ORGANIZACION -->
<div class="row justify-content-md-center">

    <div class="col-md-5 justify-content-md-end">
        <div class="imagen2"></div>
    </div>


    <div class="col-md-5 fondoCrearCuenta justify-content-md-center">

        <div class="input-group justify-content-md-center mt-5">
            <h2>Crear nueva cuenta</h2>
        </div>
        <hr size="5px" width="80%">

        <div class="justify-content-md-center m-4 mt-5">
            <div class="form-group">
                <input type="text " class="form-control mt-3 " placeholder="Nombre" style="border-radius: 20px; border: none;">
            </div>
        </div>

        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group">
                <input type="text " class="form-control mt-3 " placeholder="Razón social" style="border-radius: 20px; border: none;">
            </div>
        </div>

        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group" style="display: flex">
                <input type="text" class="form-control" placeholder="Celular" style="margin-right: 10px; border-radius: 20px; border: none;">
                <input type="text" class="form-control" placeholder="Teléfono" style="border-radius: 20px; border: none;">
            </div>
        </div>

        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group" style="display: flex">
                <input type="text" class="form-control" placeholder="Departamento" style="margin-right: 10px; border-radius: 20px; border: none;">
                <input type="text" class="form-control" placeholder="Provincia" style="margin-right: 10px; border-radius: 20px; border: none;">
                <input type="text" class="form-control" placeholder="Distrito" style="border-radius: 20px; border: none;">
            </div>
        </div>

        <div class="justify-content-md-center m-4">
            <div class="form-group">
                <input type="text " class="form-control mt-3" placeholder="Dirección" style="border-radius: 20px; border: none;">
            </div>
        </div>

        <div class="justify-content-md-center m-4">
            <div class="form-group">
                <input type="text" class="form-control mt-3" placeholder="Descripción corta" style="border-radius: 20px; border: none;">
            </div>
        </div>

        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group" style="display: flex; align-items: baseline; justify-content: center;">
                <label style="font-size: 17px; font-family: sans-serif; margin-right: 20px;">Imagen&nbsp;</label>
                <input type="file" class="form-control mt-3" style="border-radius: 20px;">
            </div>
        </div>
        <div class="justify-content-md-center m-4">
            <div class="form-group text-center">
                <label style="font-size: 17px; font-family: sans-serif; margin-right: 20px; margin-bottom: 10px;">Descripción larga&nbsp;</label>
                <textarea cols="60" rows="5" class="form-control" style="border-radius: 20px; border-color: transparent; border: none;"></textarea>
            </div>
        </div>

        <div class="m-4">
            <div class="input-group justify-content-md-end form-group">
                <p>¿Ya tienes una cuena? &nbsp;<a href="#" style="text-decoration:none; color:black;"><b>Inicia Sesión</b></a></p>
            </div>
        </div>

        <div class="text-center mt-3 mb-5">
            <div class="mt-6">
                <button type="button " class="btn btn-outline-primary">
                    <span class="badge rounded-pill text-dark">Crear cuenta</span>
                </button>
            </div>
        </div>
    </div>
</div>