.imagen {
    background-image: url('../../../../assets/img/Rectangle30.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 105vh;
    width: 73vh;
}

.fondoCrearCuenta {
    background: #FF8F47;
}

.btn-outline-primary:hover {
    background-color: #e2b393;
    border-color: transparent;
    color: white !important;
}

.btn-outline-primary {
    border-color: black;
    border-width: 2px;
    color: black!important;
}

.btn {
    border-width: 3px;
    font-size: 25px;
}