<!-- CREAR CUENTA USUARIO -->
<div class="row justify-content-md-center animated fadeIn">

    <div class="col-md-5 justify-content-md-end">
        <div class="imagen"></div>
    </div>


    <div class="col-md-5 fondoCrearCuenta">

        <div class="input-group justify-content-md-center mt-5">
            <h2>Crear nueva cuenta</h2>
        </div>
        <hr size="5px" width="80%">

        <div class="justify-content-md-center m-4 mt-5">
            <div class="form-group">
                <input type="text" class="form-control mt-3" placeholder="Nombre" style="border-radius: 20px;">
            </div>
        </div>
        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group">
                <input type="text" class="form-control mt-3" placeholder="Apellido Paterno" style="border-radius: 20px;">
            </div>
        </div>
        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group">
                <input type="text" class="form-control mt-3" placeholder="Apellido Materno" style="border-radius: 20px;">
            </div>
        </div>

        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group" style="display: flex">
                <input type="date" class="form-control" style="margin-right: 10px; border-radius: 20px;">
                <input type="text" class="form-control" placeholder="DNI" style="border-radius: 20px;">
            </div>
        </div>

        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group" style="display: flex; align-items: center; justify-content: center;">
                <div>
                    <label for="M" style="font-size: 16px; font-family: sans-serif;">Masculino&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="radio" id="M" class="form-check-input" name="genero">
                </div>
                <div>
                    <label for="F" style="font-size: 16px; font-family: sans-serif;">Femenino&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="radio" id="F" class="form-check-input" name="genero">
                </div>
            </div>
        </div>

        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group">
                <input type="text" class="form-control mt-3" placeholder="Usuario" style="border-radius: 20px;">
            </div>
        </div>

        <div class="m-4 mt-3">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" style="border-radius: 20px;">
            </div>
        </div>

        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group" style="display: flex">
                <input type="email" class="form-control" placeholder="Email" style="margin-right: 10px; border-radius: 20px;">
                <input type="text" class="form-control" placeholder="Celular" style="border-radius: 20px;">
            </div>
        </div>


        <div class="m-4">
            <div class="input-group justify-content-md-end form-group">
                <p>¿Ya tienes una cuena? &nbsp;<a href="#" style="text-decoration:none; color:black;"><b>Inicia Sesión</b></a></p>
            </div>
        </div>

        <div class="text-center mt-3">
            <div class="mt-6">
                <button type="button" class="btn btn-outline-primary">
                    <span class="badge rounded-pill text-dark">Crear cuenta</span>
                </button>
            </div>
        </div>
    </div>
</div>