<!-- Iniciar sesion -->
<div class="row justify-content-md-center">

    <div class="col-md-5 justify-content-md-end">
        <!-- <img src="img/andrea-de-santis.jpg" width="800" height="600" alt=""> -->
        <div class="imagen3"></div>
    </div>


    <div class="col-md-5 fondoIniciarSesion">

        <div class="input-group justify-content-md-center mt-5">
            <h2 style="color:#FFFFFF">Iniciar Sesión</h2>
        </div>
        <hr size="5" width="80%" color="#FFFFFF" noshade>
        <!-- <hr size="2" width="80%"> -->

        <div class="justify-content-md-center m-4 mt-5">
            <div class="form-group">
                <input type="text" class="form-control mt-3 " placeholder="Email">
            </div>
        </div>
        <div class="justify-content-md-center m-4 mt-3">
            <div class="form-group text-end">
                <input type="password" class="form-control mt-3" placeholder="Contraseña">
            </div>
        </div>

        <div class="m-4">
            <div class="input-group justify-content-md-end form-group">
                <p style="color:#FFFFFF">¿Olvidaste tu contraseña? &nbsp;<a href="#" style="text-decoration:none; color:#FF8F47;"><b>Crear cuenta</b></a></p>
            </div>
        </div>

        <div class="text-center mt-3 mb-5">
            <div class="mt-6">
                <button type="button" style="border-color: #FFFFFF;" class="btn btn-outline-primary">
                    <span class="badge rounded-pill text-white" >Ingresar</span>
                </button>
            </div>
        </div>
    </div>
</div>