<section class="section-validarproduct">
    <div class="container-fluid">
      <div class="row container-validarproduct">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="container-title text-center text-white align-self-center">
            <p>Validar Empresas</p>
          </div>
        </div>
      </div>
      <div class="row container-initialtable d-flex border rounded  align-items-center">
          <div class="col-2 mt-4 d-flex justify-content-end">
            <p>Mostrar: 3 filas</p>
          </div>
          <div class="col-9 mt-1 d-flex justify-content-end">
            <div>
              <input type="text" placeholder="Buscar" class="buscar border rounded">
            </div>
          </div>  
      </div>
      <div class="row container-table">
        <div class="text-table col-12 d-flex text-center align-items-center font-weight-bold">
          <div class="col-2">
            <p class="texto-main">Organización</p>
          </div>
          <div class="col-1">
            <p class="texto-main">RUC</p>
          </div>
          <div class="col-2">
            <p class="texto-main">Ubicación</p>
          </div>
          <div class="col-1">
            <p class="texto-main">Gerente</p>
          </div>
          <div class="col-2">
            <p class="texto-main">Teléfono</p>
          </div>
          <div class="col-2">
            <p class="texto-main">Categoría</p>
          </div>
          <div class="col-2">
            <p class="texto-main">Aceptar/Denegar</p>
          </div>
        </div>
        <div class="col-12 d-flex border-primary text-center align-items-center">
          <div class="col-2">
            <p class="texto">Organización</p>
          </div>
          <div class="col-1">
            <p class="texto">RUC</p>
          </div>
          <div class="col-2">
            <p class="texto">Ubicación</p>
          </div>
          <div class="col-1">
            <p class="texto">Gerente</p>
          </div>
          <div class="col-2">
            <p class="texto">Teléfono</p>
          </div>
          <div class="col-2">
            <p class="texto">Categoría</p>
          </div>
          <div class="col-2">
            <p class="texto">Aceptar</p>
          </div>
        </div>
        <div class="col-12 d-flex border-primary text-center align-items-center">
          <div class="col-2">
            <p class="texto">Organización</p>
          </div>
          <div class="col-1">
            <p class="texto">RUC</p>
          </div>
          <div class="col-2">
            <p class="texto">Ubicación</p>
          </div>
          <div class="col-1">
            <p class="texto">Gerente</p>
          </div>
          <div class="col-2">
            <p class="texto">Teléfono</p>
          </div>
          <div class="col-2">
            <p class="texto">Categoría</p>
          </div>
          <div class="col-2">
            <p class="texto">Denegar</p>
          </div>
        </div>
        <div class="col-12 d-flex border-primary text-center align-items-center">
          <div class="col-2">
            <p class="texto">Organización</p>
          </div>
          <div class="col-1">
            <p class="texto">RUC</p>
          </div>
          <div class="col-2">
            <p class="texto">Ubicación</p>
          </div>
          <div class="col-1">
            <p class="texto">Gerente</p>
          </div>
          <div class="col-2">
            <p class="texto">Teléfono</p>
          </div>
          <div class="col-2">
            <p class="texto">Categoría</p>
          </div>
          <div class="col-2">
            <p class="texto">Aceptar</p>
          </div>
        </div>
      </div>
      <div class="row table-end d-flex border rounded  align-items-center">
        <div class="col-2 d-flex justify-content-end">
          <p>Mostrando 1 a 3 de 20 registros</p>
        </div>
        <div class="col-9 d-flex justify-content-end">
          <button type="button"  class="btn btn-light border-white"><</button>
          <button type="button"  class="btn btn-primary border-white">1</button>
          <button type="button"  class="btn btn-light border-white">2</button>
          <button type="button"  class="btn btn-btn-light border-white">3</button>
          <button type="button"  class="btn btn-light border-white">></button>
        </div>
      </div>
      </div>
    </div>
    
  </section>

