
    <footer class="footer container-fluid">
        <div class="row titulo-footer">
            <div class="col-md-12  col-sm-8 col-xs-6">
                <p> <span class="safe">Safe</span><span class="travel">Travel.pe</span> </p>
            </div>
        </div>

        <div class="row iconos">
            <div class="col-md-1 col-sm-12"></div>
            <div class="col-md-10 col-sm-12 redes-sociales " style="margin-top: 30px;">
                <a href="#"><i class="fab fa-facebook-f fa-2x margen f_text"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x margen f_text"></i></a>
                <a href="#"><i class="fab fa-youtube fa-2x margen f_text"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x margen f_text"></i></a>
                <a href="#"><i class="fab fa-tiktok fa-2x margen f_text"></i></a>
            </div>
            <div class="col-md-1 "></div>
        </div>
        <div class="row ">
            <div class="col-md-1 "></div>
            <div class="col-md-10 linea"></div>
            <div class="col-md-1 "></div>
        </div>

        <div class="row l_debajo">
            <div class="col-md-1 "></div>
            <div class="col-md-10 ">
                <p class="text-footer " >
                    <span><a href="#" class="f_text"> Terminos y condiciones</a></span> - 
                    <span><a href="#"class="f_text"> Políticas de privacidad</a></span> - 
                    <span><a href="#"class="f_text"> Preferencias de cookies </a></span>
                    <br>
                    <br> SafeTeavel.pe ®2021 | Todos los derechos reservados
                </p>
            </div>
            <div class="col-md-1 "></div>
        </div>
    </footer>




    
